body {
  background-color: #d6d6dc;
}
header {
    margin: 0px;
    bottom-border: 5px solid red;
      padding: 0;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
