body {
  background-color: #d6d6dc;
}
header {
    background-color: #9f9fad;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-style: outset;
    border-color: black;
    border-width: 10px;
}
