html { 
    background-image: url("http://farm8.staticflickr.com/7453/13262551805_0ebd32568f_c.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
    color: black;
    text-align: center;
    margin: 100px 150px 5px 150px;
    padding: 10px;
    border-style: double;
    border-color: #b30003;
    border-width: 10px;
}
#name {
       font-size: 18px;
     font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
div {
  margin: 25px 300px 200px 300px;
  padding: 10px;
  border-style: none;
}
